*
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    border:border-box;
}
.navbar
{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav_logo
{
    height: 50px;
    width: 100px;   
}
.logo
{
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}
.nav_logo:hover{
    border: 1.5px solid white; 
}
.add_first
{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add_sec{
    font-size: 1rem;
    margin-left: 3px;
}
.address_icon{
    display: flex;
    align-items: center;
}
.nav_address:hover{
    border: 1.5px solid white;
}
.nav_search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.nav_search:hover{
    border:2px solid orange
}
.search_select{
   background-color: #f3f3f3;
   width: 50px;
   text-align: center;
   border-top-left-radius:4px ;
   border-bottom-left-radius: 4px;
   border: none;
}
.search_input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search_icon
{
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius:4px ;
    border-bottom-right-radius: 4px;

}
span{
    font-size: 12px;

}
.nav_second{
    font-weight: 700px;
    font-size: 14px;
}
.sign_in:hover{
    border: 1.5px solid white;
}
.returns:hover{
    border: 1.5px solid white;
}
/** box 5 **/

.nav_cart i{
    font-size: 30px;
}
.nav_cart{
    font-size: 0.85rem;
    font-weight: 700rem;

}
.nav_cart:hover{
    border: 1.5px solid white;
}
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
  
    color: white;
    align-items:center;
    justify-content: space-evenly;
}
.panel_ops p{
    display: inline;
    margin-left: 15px;
    
}
.panel_ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel_deals{
    font-size: 0.9rem;
    font-weight: 700px;
}
.panel_ops p:hover{
    border: 1.5px solid white;
}
.panel_deals:hover{
    border: 1.5px solid white;
}
.panel_all:hover{
    border: 1.5px solid white;
}
.hero_section{
    background-image: url("assest/hero_image.jpg");
    height: 400px;
    background-size: cover;
    display: flex;  
    align-items: flex-end;
    justify-content: center; 
    
}
.hero_massge{
    align-items: center;
    display: flex;
    background-color: white;
    height: 40px;
    justify-content: center;
    font-size: 0.85rem;
    width: 80% ;
    margin-bottom: 25px;  
}
.hero_massge a{
    color: #007185;
}
.box{
    height: 400px;
   
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.shop_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box_image{
    height: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-size: cover;
}
.box_content{
    margin-left: 1rem;
    margin-right: 1rem;

}
.box_content p{
    color: #007185;
}

footer{
    margin-top: 15px;
}
.foot_panel1{
    background-color: #37475a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 0.85rem;
}
.foot_panel2 {
background-color: #222f3d;
color: white;
height: 500px;
display: flex;
justify-content: space-evenly;


}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #DDDDDD;
}
ul{
    margin-top: 50px;
}
ul p{
    font-size: 16px;
    font-weight:700px ;
    color: #FFFFFF;
}
.foot_panel3{
    background-color: #222f3d;
    color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid white;
}
.logo{
    background-image: url("assest/amazon_logo.png");
    height: 50px;
    width: 100px;
    background-size: cover;
   
}
.footpanel_4{
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center; 
    height: 150px;
}
.footpanel_4 a{
    margin-top: 5px;
    display: inline;
    justify-content: space-evenly;
    text-align: center;
    margin: 10px;
    font-size: 15px;
}
.footpanel_4 p{
    font-size: 17px;
    margin-top: 4px;
}

